@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

.App {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  height: 100%;
  background-color: #FEFBE8;
}

a{
  text-decoration: none;
  color: black;
}